.spacer {
  flex: 1 1 auto;
}

.app-name {
  font-size: 20px;
  font-weight: bold;
}

a.mat-button {
  color: white;
  text-decoration: none;
}

a.mat-button.active {
  border-bottom: 2px solid white;
}

.carousel-card {
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
  box-sizing: border-box;
}

.carousel-image {
  width: 100%;
  height: 350px; /* Set your preferred fixed height */
  display: block;
  object-fit: cover;
}

.carousel-controls {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.search-bar {
  margin-top: 20px;
  width: 700px;
  background: transparent; /* Remove background from the container */
  border-radius: 4px;
}

.search-bar .mat-input-element {
  background: beige !important;
  border-radius: 4px;
  padding-left: 12px;
}
